@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Gelion';
    src: url('../assets/fonts/Gelion-Black.ttf');
    font-weight: 900;
}