@import "./scss/all";

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

#appContainer {
    display: inline-flex;
    width: 80vw;
    margin-left: 20vw;
    position: relative;
    min-height: 100vh;
    flex-direction: column;

    #mainContainer {
        padding: 25px 4%;
        font-family: Gelion;

        h1 {
            margin-top: 0;
            font-weight: 600;
            font-size: 40px;
            color: $darkBlue;
            margin-bottom: 60px;
        }
    }
}