@import "../../scss/all";

nav#navMenu {
    display: inline-flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    padding: 30px;
    border-right: 2px solid $lightGrey;
    height: 100vh;
    max-height: 100vh;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 7vh;

        li {
            margin: 0.5vh 0;
            font-size: 18px;
            font-family: Gelion;
            
            &, a {
                text-decoration: none;
                color: $black;
                display: flex;
                align-items: center;
                border-radius: 50px;

                &:focus { outline: none }
            }

            a, &.logout {
                padding: 10px 15px;
                cursor: pointer;
            }

            a { width: 100% }

            i { margin-right: 18px }

            a:hover, a.active, &.logout:hover {
                background-color: $lightBlue;
                color: $darkBlue;
            }
        }
    }

    .btn {
        margin-bottom: 15vh;
    }
}